@import '../includes/vars';
@import '../includes/mixins';

.footer {
    border-top: $divider;
    margin-top: calc(#{$grid} * 3);
}

.footer-nav {
    float: left;
    padding: $grid $grid $grid 0;
    white-space: nowrap;

    @extend %print-no;
}

.footer-copy {
    float: right;
    white-space: nowrap;
    padding-left: $grid;
}
