@import '../includes/vars';
@import '../includes/mixins';

.footer {
    align-items: center;
    border-bottom: 1px solid transparent;
    border-top: $divider;
    display: flex;
    flex-wrap: wrap;
    font-size: $fontsize-1;
    justify-content: space-between;
    margin-top: calc(#{$grid} * 2);
    padding-top: calc(#{$grid} * 2);
}

.footer-copy {
    white-space: nowrap;
    padding: 0;
}
