@use 'sass:color';
@import '../includes/vars';
@import '../includes/mixins';

:root {
    --avatar-size: 3.9rem;

    @media #{$mq-680-and-up} {
        --avatar-size: 5.1rem;
    }
}

$avatar-size: var(--avatar-size);

.header {
    border-bottom: $divider;
    margin-bottom: $grid;
    padding-top: #{$avatar-size};
    position: relative;
    text-align: center;
}

a.header-site {
    @include links-subtle;
}

.header-subtitle {
    color: var(--color-header);
    display: block;
    font-size: $fontsize1;
    font-weight: normal;
    padding-top: calc(#{$grid} / 2);
}

.header-about {
    padding: 0.2em;
    margin: -0.2em;
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.header-avatar {
    width: $avatar-size;
}

.header-nav {
    @extend %print-no;
    border-bottom: $divider;
    margin-bottom: $grid;
    padding-bottom: $grid;
}

@media #{$mq-480-and-up} {
    .header {
        min-height: calc($avatar-size + $grid);
        padding-right: calc(#{$grid} + #{$avatar-size});
        padding-top: 0;
        text-align: left;
    }

    .header-about {
        left: auto;
        right: 0;
        top: 0;
        transform: none;
    }
}
