@import '../includes/vars';
@import '../includes/mixins';

:root {
    --avatar-size: 3.9rem;

    @media #{$mq-680-and-up} {
        --avatar-size: 5.1rem;
    }
}

$avatar-size: var(--avatar-size);

.header {
    border-bottom: $divider;
    margin-bottom: $grid;
    padding-top: #{$avatar-size};
    position: relative;
    text-align: center;
}

.header-site {
    color: $color-text;
    display: block;
    padding-bottom: calc(#{$grid} / 2);
}

.header-subtitle {
    color: #666;
    display: block;
    font-size: calc(#{$font-base} * #{$f1});
    font-weight: normal;
}

.header-about {
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

.header-avatar {
    width: $avatar-size;
}

@media #{$mq-480-and-up} {
    .header {
        text-align: left;
        padding-right: calc(#{$grid} + #{$avatar-size});
        padding-top: 0;
    }

    .header-about {
        top: 0;
        left: auto;
        right: 0;
        transform: none;
    }
}
