@import '../includes/vars';
@import '../includes/mixins';

@import '../includes/vars';
@import '../includes/mixins';

.post-title {
    padding-bottom: 0;
}

.post-info {
    main & {
        margin-left: $outdent;
    }
}

.post-link {
    display: none;
}

@media #{$mq-960-and-up} {
    .post-link {
        display: block;
        font-size: calc(#{$font-base} * #{$f5});
        height: 1.2em;
        overflow: hidden;
        position: absolute;
        right: calc(100% + #{$grid});
        text-align: right;
        top: 12px;
        width: 1.2em;

        &:before {
            content: '➡';
            display: inline-block;
            height: 1.2em;
            text-decoration: none;
            width: 1.2em;
        }
    }
}

.post-info {
    font-size: calc(#{$font-base} * #{$f-1});
    padding-bottom: $grid;
}

.post-date-year {
    @include links-block;
}

.post-tags {
    display: inline;
    font-size: calc(#{$font-base} * #{$f-1});
    list-style-type: none;
    padding-left: 0;
}

.post-tag {
    display: inline-block;
    padding-right: $grid; // padding on right so there's no left padding on tags which wrap to the next line
    padding: 0;

    &:first-child {
        padding-left: $grid;
    }

    &:last-child {
        padding-right: 0;
    }
}

.post-body {
    &:after {
        content: '⌁';
        display: block;
        margin-left: $outdent;
        padding: calc(#{$grid} * 2) 0 0 0;
    }
}

