@import '../includes/vars';
@import '../includes/mixins';

@import '../includes/vars';
@import '../includes/mixins';

.post-title {
    font-size: calc(#{$font-base} * #{$f3});
    padding: 0;
}

.post-info {
    @media #{$mq-480-and-up} {
        // out-dent
        main & {
            margin: 0 0 0 calc(#{$grid} * 2 * -1);
        }
    }
}

.post-link {
    display: none;
}

@media #{$mq-960-and-up} {
    .post-link {
        display: block;
        font-size: calc(#{$font-base} * #{$f5});
        height: 1.2em;
        overflow: hidden;
        position: absolute;
        right: calc(100% + #{$grid});
        text-align: right;
        top: 12px;
        width: 1.2em;

        &:before {
            content: '➡';
            display: inline-block;
            height: 1.2em;
            text-decoration: none;
            width: 1.2em;
        }
    }
}

.post-info {
    font-size: calc(#{$font-base} * #{$f-1});
    padding-bottom: $grid;
}

.post-date-year {
    background-color: $color-text;
    color: $color-background;
    display: inline-block;
    line-height: 1;
    padding: 3px 4px 2px;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-link-hover;
        color: $color-text;
        text-decoration: none;
    }

    &:visited:hover {
        background-color: $color-link-visited-hover;
        color: $color-text;
    }
}

.post-tags {
    display: inline;
    font-size: calc(#{$font-base} * #{$f-1});
    list-style-type: none;
    padding-left: 0;
}

.post-tag {
    padding: 0;
    display: inline-block;
    padding-left: $grid;
}
