@import '../includes/vars';
@import '../includes/mixins';

.slideshare-slides {
    @include intrinsic();
    border: $divider;
}

.slideshare-credit {
    font-size: 0.8rem;
    margin-bottom: $grid;
    margin-top: calc(#{$grid} * -1);
}
