@import '../includes/vars';
@import '../includes/mixins';

:root {
    --social-icon-width: 24px;
}

$social-icon-width: var(--social-icon-width);

.social {
    @extend %print-no;
}

.social-list {
    display: grid;
    gap: $grid;
    grid-template-columns: repeat(5, 24px);
    margin: 0;
    padding: 0;
}

.social-item,
.social-link {
    display: block;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.social-link {
    height: $social-icon-width;
    width: $social-icon-width;
    border: 3px solid transparent;
}

.social-icon {
    display: block;
}
