@import '../includes/vars';
@import '../includes/mixins';

.summary-title {
    padding-bottom: 0;
}

.summary-info {
    padding-top: 0;
}

.summary-date {
    background-color: $color-text;
    color: $color-background;
    display: inline-block;
    padding: 3px 4px 2px;
    line-height: 1;
}

.summary-title-link {
    &:after {
        content: '\00a0➡';
    }
}
