@import '../includes/vars';
@import '../includes/mixins';

.summary {
    padding: $grid;
}

.summary-title {
    font-size: calc(#{$font-base} * #{$f3});
    margin-left: 0;
    padding: 0;
}

.summary-info {
    padding-bottom: $grid;
}

.summary-title-link {
    @include links-subtle;

    &:after {
        display: inline-block;
        color: $color-link;
        content: '➡';
        left: 5px;
        position: relative;
        text-decoration: none;
        transition: left 0.2s ease-out;
    }

    &:hover,
    &:focus,
    &:active {
        &:after {
            color: $color-link-hover;
            left: 15px;
            text-decoration: none;
        }
    }

    &:visited {
        &:hover {
            &:after {
                color: $color-link-visited-hover;
            }
        }
    }
}

.summary-info {
    font-size: calc(#{$font-base} * #{$f-1});
}

.summary-date-year {
    background-color: $color-text;
    color: $color-background;
    display: inline-block;
    font-size: calc(#{$font-base} * #{$f-1});
    line-height: 1;
    padding: 3px 4px 2px;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-link-hover;
        color: $color-text;
        text-decoration: none;
    }

    &:visited:hover {
        background-color: $color-link-visited-hover;
        color: $color-text;
    }
}

.summary-tags {
    display: inline;
    font-size: calc(#{$font-base} * #{$f-1});
    list-style-type: none;
    padding-left: 0;
}

.summary-tag {
    padding: 0;
    display: inline-block;
    padding-left: $grid;
}
