@import '../includes/vars';

@mixin container() {
    max-width: 60ch;
    margin: 0 auto;
}

@mixin intrinsic() {
    /*
    Creates container that preserves aspect ratio, and fills container with iframe
    http://alistapart.com/article/creating-intrinsic-ratios-for-video
    https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
    ====================================================================== */

    & {
        position: relative;
        height: 0;
        overflow: hidden;
        margin-bottom: $grid;

        /* 16x9 Aspect Ratio */
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

@mixin links {
    & {
        border-radius: 1px;
        color: $color-link;
        font-weight: bold;
        text-decoration: underline;

        padding: 0 0.2em;
        margin: 0 -0.2em;
        border: 1px solid transparent;
        border-radius: 1px;
        box-decoration-break: clone;
        outline: none;
    }

    &:visited {
        color: $color-link-visited;
    }

    &:hover,
    &:focus {
        color: $color-link-hover;
        text-decoration: none;
    }

    &:visited {
        &:hover,
        &:focus {
            color: $color-link-visited-hover;
        }
    }

    &:focus {
        color: #FFF;
        background: $color-link-hover;
    }

    &:visited {
        &:focus {
            color: #FFF;
            background: $color-link-visited-hover;
        }
    }

    &:active,
    &:visited:active {
        color: #FFF;
        background-color: $color-embelish;
    }
}

@mixin links-subtle {
    &,
    &:visited {
        color: $color-text;
    }

    &:focus,
    &:active {
        color: #FFF;
    }
}

@mixin links-block {
    background-color: $color-text;
    border-radius: 1px;
    color: $color-background;
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 3px 4px 2px;

    &:visited {
        color: #FFF;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-link-hover;
        color: #FFF;
        text-decoration: none;
        box-shadow: none;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            background-color: $color-link-visited-hover;
            color: #FFF;
        }
    }
}

@mixin tags {
    display: inline;
    font-size: $fontsize-1;
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding: 0 $grid 0 0; // padding on right so there's no left padding on tags which wrap to the next line

        &:first-child {
            padding-left: $grid;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
