@use 'sass:color';

/*
colors
====================================================================== */

$color-text: var(--color-text);
$color-border: var(--color-border);
$color-background: var(--color-background);
$color-link: var(--color-link);
$color-link-hover: var(--color-link-hover);
$color-link-visited: var(--color-link-visited);
$color-link-visited-hover: var(--color-link-visited-hover);
$color-embelish: var(--color-embelish);
$color-light-grey: var(--color-light-grey);
$color-dark-grey: var(--color-dark-grey);
$color-code-bg: var(--code-bg);
$color-code-text: var(--code-text);
$color-code-green: var(--code-green);
$color-code-blue: var(--code-blue);
$color-code-brown: var(--code-brown);
$color-code-grey: var(--code-grey);
$color-code-red: var(--code-red);

/*
typography
====================================================================== */
$heading-font-family: 'Inter', system-ui, sans-serif;
$heading-line-height: 1.5;
$body-font-family: 'Inter', system-ui, sans-serif;
$body-line-height: 2.1;
$font-base: var(--font-base);

// Musical tetratonic scale
$f5: 2;
$f4: 1.6818;
$f3: 1.4142;
$f2: 1.1892;
$f1: 1;
$f-1: 0.8409;
$f-2: 0.7071; //thank you fmarier

$fontsize5: calc(#{$font-base} * #{$f5});
$fontsize4: calc(#{$font-base} * #{$f4});
$fontsize3: calc(#{$font-base} * #{$f3});
$fontsize2: calc(#{$font-base} * #{$f2});
$fontsize1: calc(#{$font-base} * #{$f1});
$fontsize-1: calc(#{$font-base} * #{$f-1});
$fontsize-2: calc(#{$font-base} * #{$f-2});

/*
breakpoints & media queries
====================================================================== */

$point-320: calc( 320 / 16 * 1em);
$point-480: calc(480 / 16 * 1em);
$point-680: calc(680 / 16 * 1em);
$point-960: calc(960 / 16 * 1em);
$point-1200: calc(1200 / 16 * 1em);

$point-320-starts: $point-320;
$point-480-starts: $point-480;
$point-680-starts: $point-680;
$point-960-starts: $point-960;
$point-1200-starts: $point-1200;

// some browsers treat printed page as 670px wide, some don't
// by specifying print explicitly we get consistant behaviour for print
$mq-320-and-up: 'print, all and (min-width: #{$point-320-starts})';
$mq-480-and-up: 'print, all and (min-width: #{$point-480-starts})';
$mq-680-and-up: 'print, all and (min-width: #{$point-680-starts})';
$mq-960-and-up: 'screen and (min-width: #{$point-960-starts})';
$mq-1200-and-up: 'screen and (min-width: #{$point-1200-starts})';

$mq-tall: 'screen and (min-width: #{$point-960-starts}) and (min-height: #{$point-960-starts})';

$mq-append-retina-dpr: '(-webkit-min-device-pixel-ratio: 1.3)';
$mq-append-retina-resolution: '(min-resolution: 124.8dpi)';

/*
spacing units
====================================================================== */

$grid: var(--grid-value);
$padding-width: var(--grid-value);
$border-width: 1px;
$divider: 1px solid $color-text;
$indent: var(--indent);
$outdent: var(--outdent);

/*
animation
====================================================================== */
$transition-duration: 0.3s;
$transition-timing: ease-in;

/*
selectors
====================================================================== */
$selector-icon: 'i[class^="icon-"]';


/*
paths
====================================================================== */
$path-to-assets: '/assets/';
$path-to-fonts: '/assets/fonts/';
