$text: #222;
$bg: EEE;
$margin: 20px;
$link-text: #A00;

$font-family-body: 'Lucida Grande', verdana, arial, sans-serif;

$max-width: 550px;

$border-width: 1px;

$padding-width: var(--grid-value);

$grid: var(--grid-value);

$divider: 1px solid $text;
