{{ define "main" }}
<main>
    <article itemscope itemtype=http://schema.org/BlogPosting>
        <h1 itemprop="name headline">{{ .Title }}</h1>
        <p>
            <span itemprop="author">Stephanie Hobson</span>
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}" itemprop="datePublished">
                {{ .PublishDate.Format "2006 January 02" }}
        	</time>
        </p>
        {{ with .Params.categories }}
        <p>More posts categorized as:</p>
            <ul id="categories">
                {{ range . }}
                    <li> <a href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
            </ul>
        {{ end }}
        <div itemprop="articleBody">
            {{ .Content }}
        </div>
        <p><a href="{{ .Permalink }}" itemprop="url">Permalink</a></p>
    </article>
</main>
{{ end }}
