<header>
    <div class="header">
        <h1 class="header-title">
            {{ if .IsHome }}
                <span class="header-site">Abstract Sequential</span>
            {{ else }}
                <a href="/" class="header-site">Abstract Sequential</a>
            {{ end }}
            <span class="header-subtitle">Stephanie Hobson's abstract thoughts in the sequence she has them.</span>
        </h1>

        <a class="header-about" href="/about/">
            <img class="header-avatar" src="http://en.gravatar.com/avatar/d70bd194080649fe6fac9c012d4de39c?s=200" alt="About Stephanie Hobson">
        </a>
    </div>
</header>
