<div class="summary">
    <h2 class="summary-title">
        <a class="summary-title-link" href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h2>
    <div class="summary-info">
        <div class="summary-date">{{ .PublishDate.Format "2006 January 02" }}</div>
        <ul class="summary-tags">
            {{ with .Params.categories }}
                {{- range $i, $e := . -}}
                    {{ if $i }}, {{ end }}
                    <li class="summary-tag">#<a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{- $e -}}</a></li>
                {{- end -}}
            {{ end }}
        </ul>
    </div>
</div>
