<article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 itemprop="name headline">{{ .Title }}</h1>
    <div class="post-info">
        <a class="post-link" href="{{ .Permalink }}" itemprop="url">Permalink</a>
        <time class="post-date" datetime="{{ .PublishDate.Format "2006-01-02" }}" itemprop="datePublished">{{ .PublishDate.Format "2006 January 02" }}</time>
        <ul class="post-tags">
            {{ with .Params.categories }}
                {{- range $i, $e := . -}}
                    {{ if $i }}, {{ end }}
                    <li class="post-tag">#<a href="{{ "tags/" | absURL }}{{ $e | urlize }}" rel="tag">{{- $e -}}</a></li>
                {{- end -}}
            {{ end }}
        </ul>
    </div>
    <div itemprop="articleBody">
        {{ .Content }}
    </div>
</article>
