<div class="summary">
    <h2 class="summary-title">
        <a class="summary-title-link" href="{{ .URL }}">
            {{ .Title }}
        </a>
    </h2>
    <div class="summary-info">
        <span class="summary-date">
            <a class="summary-date-year" href="/year/{{ .PublishDate.Format "2006" }}/">{{ .PublishDate.Format "2006" }}</a>
            {{ .PublishDate.Format "January 02" }}
        </span>
        <ul class="summary-tags">
            {{ with .Params.tags }}
                {{- range $i, $e := . -}}
                    <li class="summary-tag">#<a href="{{ "/tags/" }}{{ $e | urlize }}" rel="tag">{{- $e -}}</a></li>
                {{- end -}}
            {{ end }}
        </ul>
    </div>
</div>
