<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <div class="post-info">
        <a class="post-link" href="{{ .Permalink }}" itemprop="url">Permalink</a>
        <time class="post-date" datetime="{{ .PublishDate.Format "2006-01-02" }}" itemprop="datePublished">
            <a class="post-date-year" href="/year/{{ .PublishDate.Format "2006" }}/">{{ .PublishDate.Format "2006" }}</a>
            {{ .PublishDate.Format "January 02" }}
        </time>
        <ul class="post-tags">
            {{ with .Params.tags }}
                {{- range $i, $e := . -}}
                    <li class="post-tag">#<a href="{{ "/tags/" | absURL }}{{ $e | urlize }}/" rel="tag">{{- $e -}}</a></li>
                {{- end -}}
            {{ end }}
        </ul>
    </div>
    <div class="post-body" itemprop="articleBody">
        {{ .Content }}
    </div>
</article>
