<aside class="social {{ .class }}">
    <ul class="social-list">
        <li class="social-item">
            <a class="social-link" href="https://github.com/stephaniehobson" rel="me">
                <img class="social-icon" alt="" src="/images/icons/github.svg" height="32" width="32">
                <span class="social-name">GitHub</span>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://noti.st/stephaniehobson" rel="me">
                <img class="social-icon" alt="" src="/images/icons/notist.svg" height="32" width="32">
                <span class="social-name">Notist</span>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://www.linkedin.com/in/stephaniehobsonca" rel="me">
                <img class="social-icon" alt="" src="/images/icons/linkedin.svg" height="32" width="32">
                <span class="social-name">LinkedIn</span>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://pinboard.in/search/u:stephaniehobson?query=webdesign" rel="me">
                <img class="social-icon" alt="" src="/images/icons/pinboard.svg" height="32" width="32">
                <span class="social-name">Pinboard</span>
            </a>
        </li>
        <li class="social-item">
            <a class="social-link" href="https://twitter.com/stephaniehobson" rel="me">
                <img class="social-icon" alt="" src="/images/icons/twitter.svg" height="32" width="32">
                <span class="social-name">Twitter</span>
            </a>
        </li>
    </ul>
</aside>
