@import '../../includes/vars';
@import '../../includes/mixins';

img {
    height: auto;
    max-width: 100%;

    a & {
        border: none;
    }
}

figure {
    margin: 0 $outdent;
    padding: $grid 0;
}
