@import '../../includes/vars';
@import '../../includes/mixins';

/*
  - fonts are in rems
  - fonts jump in size on larger monitors
  - fonts related to grid?
*/

@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("/fonts/Inter-Regular.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 400; font-display: swap; src: url("/fonts/Inter-Italic.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: bold; font-display: swap; src: url("/fonts/Inter-Bold.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: bold; font-display: swap; src: url("/fonts/Inter-BoldItalic.woff2") format("woff2"); }

/* default element font size margin and padding if custom properties are not supported */
@supports (--color: red) {
    h1 {
        font-size: $fontsize5;
    }

    h2 {
        font-size: $fontsize4;
    }

    h3 {
        font-size: $fontsize3;
    }

    h4 {
        font-size: $fontsize2;
    }

    h5 {
        font-size: $fontsize1;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2;
        margin: 0;
        padding: $grid 0;

        main & {
            margin: 0 0 0 $outdent;
        }
    }

    p {
        padding: $grid 0;
        margin: 0;

        &:empty {
            display: none;
        }
    }

    ul,
    ol {
        margin: 0;
        padding: calc(#{$grid} - #{$grid} / 2) 0 calc(#{$grid} - #{$grid} / 2) calc(#{$grid} * 2);
    }

    ul {
        list-style-type: square;
    }

    li {
        padding: calc(#{$grid} / 2) 0;
    }

    dl {
        margin: 0;
        padding: calc(#{$grid} - #{$grid} / 2) 0;
    }

    dt {
        font-weight: bold;
        padding: calc(#{$grid} / 2) 0;
    }

    dd {
        padding-left: calc(#{$grid} * 2);
        margin-left: 0;
    }

    blockquote {
        border-left: $border-width solid $color-light-grey;
        color: $color-dark-grey;
        padding: $grid 0 $grid $grid;
        margin: $grid;
    }

    a {
        @include links;

        main & {
            font-weight: normal;
        }

        img {
            display: block;
        }
    }

    sup {
        display: inline-block;
        font-size: 80%;
        margin-top: -4px;
        vertical-align: text-top;
    }

    pre {
        border: 1px solid #767676;
        max-width: 100%;
        overflow-x: scroll;
        padding: $grid;
    }

    code {
        max-width: 100%;

        p &,
        li &,
        dl & {
            margin: 0 2px;
            padding: 0 2px;
            background-color: var(--color-kbd);
            border-radius: 3px;
        }
    }
}
