@import '../../includes/vars';
@import '../../includes/mixins';

/*
  - fonts are in rems
  - fonts jump in size on larger monitors
  - fonts related to grid?
*/

// default element font size margin and padding if custom properties are not supported
@supports (--color: red) {
    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2;
        margin: 0;
        padding: $grid 0;

        @media #{$mq-480-and-up} {
            // out-dent headings in the page body
            main & {
                margin: 0 0 0 calc(#{$grid} * 2 * -1);
            }
        }
    }

    h1 {
        font-size: calc(#{$font-base} * #{$f5});
    }

    h2 {
        font-size: calc(#{$font-base} * #{$f4});
    }

    h3 {
        font-size: calc(#{$font-base} * #{$f3});
    }

    h4 {
        font-size: calc(#{$font-base} * #{$f2});
    }

    h5 {
        font-size: calc(#{$font-base} * #{$f1});
    }

    p {
        padding: $grid 0;
        margin: 0;

        &:empty {
            display: none;
        }
    }

    ul,
    ol {
        margin: 0;
        padding: calc(#{$grid} - #{$grid} / 2) 0 calc(#{$grid} - #{$grid} / 2) calc(#{$grid} * 2);
    }

    ul {
        list-style-type: square;
    }

    li {
        padding: calc(#{$grid} / 2) 0;
    }

    dl {
        margin: 0;
        padding: calc(#{$grid} - #{$grid} / 2) 0;
    }

    dt {
        font-weight: bold;
        padding: calc(#{$grid} / 2) 0;
    }

    dd {
        padding-left: calc(#{$grid} * 2);
        margin-left: 0;
    }

    blockquote {
        border-left: $border-width solid #CCCCCC;
        color: #555555;
        padding: $grid 0 $grid $grid;
        margin: $grid;
    }

    a {
        @include links;
    }

    sup {
        display: inline-block;
        margin-top: -4px;
        vertical-align: text-top;
        font-size: 80%;
    }

    pre {
        max-width: 100%;
        overflow-x: scroll;
        border: 1px solid #000;
        padding: $grid;
    }

    code {
        max-width: 100%;
    }
}
