<div class="slideshare">
  <div class="slideshare-slides">
    <iframe src="https://www.slideshare.net/slideshow/embed_code/key/{{ index .Params 0 }}" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
  </div>
  <div class="slideshare-credit">
    <strong> <a href="https://www.slideshare.net/stephaniehobson/{{ index .Params 1 }}" target="_blank">{{ index .Params 2 }}</a> </strong>
    from
    <strong><a href="https://www.slideshare.net/stephaniehobson" target="_blank">Stephanie Hobson</a></strong>
  </div>
</div>
